* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(./images/iiibg.jpg);
}
header {
  font-size: 25px;
  color: white;
  text-align: center;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 20px;
}
.html-lessons {
  background-color: rgb(243, 242, 243);
}
.styles {
  background-color: rgb(243, 242, 243);

  grid-column: 3/4;
  grid-row: 1/3;
}
.challenges {
  background-color: rgb(236, 184, 223);

  grid-column: 2/3;
  grid-row: 1/2;
}
.script {
  background-color: rgb(236, 184, 223);

  grid-column: 4/4;
  grid-row: 1/4;
}

.title {
  align-items: center;
  color: black;
}
