:root {
  --blue: blue;
}
* {
  box-sizing: border-box;
  font-family: 'Lora', serif;
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
*::selection {
  background: var(blue);
  color: white;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}
.btn {
  background: var(--blue);
  border-radius: 5rem;
  border: none;
  box-shadow: 0 0.3rem 0.5rem rgba(141, 20, 125, 0.3);
  color: white;
  cursor: pointer;
  font-size: 2rem;
  margin-top: 1rem;
  overflow: hidden;
  padding: 0.7rem 3.5rem;
  position: relative;
  z-index: 0;
}
.btn::before {
  background: #333;
  content: '';
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.2s linear;
  width: 0%;
  z-index: -1;
}
.btn:hover::before {
  left: 0;
  width: 100%;
}
.heading {
  background: rgba(243, 243, 243, 0.959);
  color: var(--blue);
  display: inline-block;
  font-size: 2rem;
  margin: 1rem 0;
  padding: 0.5rem 2rem;
}
.title {
  color: #333 padding 0 1rem;
  font-size: 4rem;
  text-align: center;
}
header {
  align-items: center;
  background-color: var(--blue);
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 2rem 7%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
header .logo {
  color: white;
  font-size: 2.5rem;
}
header .navbar ul {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
header .navbar ul li a {
  color: white;
  font-size: 1.5rem;
  margin-left: 1.5rem;
  position: relative;
}
header .navbar ul li a::before {
  background: white;
  bottom: -0.5rem;
  content: '';
  height: 0.2rem;
  position: absolute;
  right: 0;
  transition: 0.2s linear;
  width: 0%;
}
header .navbar ul li a.active::before,
header .navbar ul li a:hover::before {
  left: 0;
  width: 100%;
}
header #menu {
  color: white;
  cursor: pointer;
  display: none;
  font-size: 3rem;
}
.home {
  align-items: center;
  background-position: top;
  background-size: 140% 80%;
  background: url(../images/homg-img.png) no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  padding-top: 4rem;
  padding: 1.5rem 7%;
}
.home .image {
  flex: 1 1 40 rem;
  padding-top: 5rem;
}
.home .image img {
  width: 100%;
}
.home .content {
  flex: 1 1 40 rem;
  padding-top: 5rem;
}
.home .content h1 {
  color: white;
  font-size: 4rem;
}
.home .content p {
  color: black;
  font-size: 2rem;
  padding: 0.5rem 0;
}
.home .content .btn {
  background: blue;
  color: white;
}
.home .content .btn:hover {
  color: white;
}
.about {
  align-items: center;
  background: #333;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  padding-top: 6rem;
  padding: 2rem;
}
.about .image {
  flex: 1 1 40rem;
  padding: 4rem 0;
  text-align: center;
}
.about .image img {
  height: 70vh;
}
.about .content {
  flex: 1 1 40rem;
}
.about .content h3 {
  color: white;
  font-size: 4rem;
}
.about .content .heading {
  background: rgb(250, 249, 249);
}
.about .content p {
  color: #eee;
  font-size: 1.5rem;
  padding: 1rem 0;
}
.about .content ul li {
  color: white;
  font-size: 2rem;
  list-style: none;
  padding: 0.5rem 0;
}
.about .content ul li i {
  color: blue;
}
.features {
  min-height: 100vh;
  padding-top: 7rem;
  text-align: center;
}
.features .description {
  color: black;
  font-size: 1.5rem;
  margin: 0 auto;
  padding: 1rem 0;
  width: 70rem;
}
.features .box-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.features .box-container .box {
  margin: 2rem;
  position: relative;
  width: 28rem;
  z-index: 0;
}
.features .box-container .box::before {
  background: var(--blue);
  box-shadow: 0 0 0 1rem rgba(151, 148, 151, 0.1);
  content: '';
  height: 10rem;
  left: 50%;
  position: absolute;
  top: 32.5%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 10rem;
  z-index: -1;
}
.features .box-container .box i {
  color: white;
  font-size: 4.5rem;
  margin: 8rem 0;
}
.features .box-container .box h3 {
  color: black;
  font-size: 2rem;
}
.features .box-container .box p {
  color: rgb(8, 8, 8);
  font-size: 1.2rem;
  padding: 1rem 0;
}
.products {
  background: grey;
  min-height: 100vh;
  padding-top: 8rem;
  padding: 1rem;
  text-align: center;
}
.products .box-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem 0;
}
.products .box-container .box {
  background: #444;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
  margin: 1rem;
  padding: 2rem 4rem;
}
.products .box-container .box h3 {
  color: white;
  font-size: 2rem;
  padding: 1rem 0;
}
.products .box-container .box .price {
  color: white;
  display: block;
  font-size: 3rem;
  padding: 1rem 0;
}
.products .box-container .box img {
  height: 20rem;
  margin: 1rem 0;
  width: 20rem;
}
.contact {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/contctimg.jpeg) no-repeat;
  min-height: 100vh;
  padding-top: 8rem;
  padding: 1rem;
  text-align: center;
}
.contact .heading {
  background: rgba(255, 254, 254, 0.973);
  color: blue;
}
.contact .title {
  color: white;
}
.contact form {
  margin: 1rem auto;
  width: 85%;
}
.contact form .inputBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact form .inputBox input,
.contact form textarea {
  background: none;
  border: 0.2rem solid grey;
  color: white;
  font-size: 2rem;
  height: 4rem;
  margin: 1rem 0;
  padding: 0 1rem;
  text-transform: none;
  width: 49%;
}
.contact form .inputBox input::placeholder,
.contact form textarea::placeholder {
  color: lavender;
}
.contact form .inputBox input:focus,
.contact form textarea:focus {
  border-color: var(--blue);
}
.contact form textarea {
  height: 20rem;
  padding: 1rem;
  resize: none;
  width: 100%;
}
.contact form .btn:hover {
  background: white;
  color: black;
}
.faq {
  min-height: 100vh;
  padding-top: 8rem;
  padding: 0.5rem;
  text-align: center;
}
.faq .row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.faq .row .image {
  flex: 1 1 40rem;
  padding: 0.5rem;
}
.faq .row .image img {
  height: 65vh;
  width: 100%;
}
.faq .row .accordion-container {
  flex: 1 1 40rem;
  padding: 1rem;
}
.faq .row .accordion-container .accordion {
  padding: 0.5rem 0;
  text-align: left;
}
.faq .row .accordion-container .accordion .accordion-heading {
  background: var(--blue);
  color: aqua;
  cursor: pointer;
  font-size: 1.8rem;
  padding: 1rem;
}
.faq .row .accordion-container .accordion .accordion-content {
  border: 0.2rem solid var(--blue);
  color: #333;
  display: none;
  font-size: 1.3rem;
  padding: 1rem;
}
.faq .row .accordion-container .accordion:nth-child(1) .accordion-content {
  display: block;
}
.footer {
  background: grey;
}
.footer .box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer .box-container .box {
  flex: 1 1 30rem;
  margin: 2rem;
}
.footer .box-container .box h3 {
  color: var(--blue);
  font-size: 2.5rem;
}
.footer .box-container .box p {
  color: white;
  font-size: 1.5rem;
  padding: 1rem 0;
}
.footer .box-container .box p i {
  color: var(--blue);
  padding: 0 0.5rem;
}
.footer .box-container .box a {
  color: white;
  display: block;
  font-size: 1.8rem;
  padding: 0.5rem 0;
}
.footer a:hover {
  text-decoration: underline;
}
.footer .credit {
  background: #333;
  color: #eee;
  font-size: 2rem;
  padding: 2rem 1rem;
  text-align: center;
}
.footer .credit a {
  color: chocolate;
}
/* media queries */
@media (max-width: 768px) {
  a::before {
    background: #333;
  }

  html {
    font-size: 55%;
  }
  header #menu {
    display: block;
  }
  header .navbar {
    background: white;
    left: 0;
    opacity: 0;
    position: fixed;
    top: -120%;
    width: 100%;
  }
  header .navbar ul {
    flex-flow: column;
    justify-content: center;
    padding: 2rem 0;
  }
  header .navbar ul li a {
    color: #333;
    display: block;
    font-size: 2.5rem;
    margin: 1rem 0;
  }
  header .navbar ul li .fa-times {
    transform: rotate(180deg);
  }
  header .navbar.nav-toggle {
    opacity: 1;
    top: 7.4rem;
  }
  .home .content {
    text-align: center;
  }
  .features .description {
    padding: 1;
    width: auto;
  }
  .contact form {
    width: 95%;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
  .home .content h1 {
    font-size: 3.5rem;
  }
  .about .image img {
    height: auto;
    width: 80%;
  }
  .contact form .inputBox input {
    width: 100%;
  }
}
