@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
:root {
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --soft-pink: hsl(333, 80%, 67%);
  --very-dark-magenta: hsl(300, 43%, 22%);
  --white: hsl(0, 0%, 100%);
}
p {
  line-height: 1.8;
}
body {
  font-family: 'Spartan', sans-serif;
}
main h1 {
  color: var(--very-dark-magenta);
}
.stars p {
  color: var(--very-dark-magenta);
}
.stars img {
  margin-right: 10px;
}
.testimonials .cards {
  background-color: var(--very-dark-magenta);
  border-radius: 10px;
  padding: 40px 20px;
}
.testimonials .cards h3 {
  color: #fff;
}
.testimonials .cards small {
  color: hsl(333, 80%, 67%);
}
.testimonials .cards p {
  color: #fff;
}
@media (min-width: 768px) {
  main {
    margin: auto;
    max-width: 600px;
  }
  .stars {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
  .testimonials {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1024px) {
  div:nth-child(2) {
    transform: translateX(5%);
  }
  div:nth-child(2) {
    transform: translateY(10%);
  }
  div:nth-child(3) {
    transform: translateX(10%);
  }
  div:nth-child(3) {
    transform: translateY(20%);
  }

  .showcase {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .stars {
    display: inline-block;
  }
  .stars > div:nth-child(2) {
    transform: translate(5%);
  }
  .stars > div:nth-child(3) {
    transform: tranfor(10%);
  }
  main {
    max-width: auto;
  }
  main h1 {
    font-size: 46px;
  }
  .testimonials > div:nth-child(2) {
    transform: translate(10%);
  }
  .testimonials > div:nth-child(3) {
    transform: translate(20%);
  }
}
