* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightslategrey;

  margin: 10px;
  font-weight: bold;
}
h1 {
  text-align: center;
}
form {
  background-color: palevioletred;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px 12px pink;
  border: 1rem solid lightblue;
  display: table;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
}
p {
  display: table-row;
}
label {
  display: table-cell;
}
input {
  display: table-cell;
}
